@media only screen and (max-width: 46.1875em){
    .picture img:nth-child(2),
    .picture img:nth-child(3){
        display: none;
    }
    
    .picture img:first-child{
        width: 100%;
    }

    #content .content-section{
        padding: 64px 15px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .art img{
       margin: 25px auto 0;
       width: 100%;
       object-fit: cover;
    }

    #nav{
        width: 100%;
    }
    #nav li a{
        display: block;
        width: 100%;
    }
    #nav > li{
        display: block;

    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }


    #footer {
        width: 100%;
    }
}


@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .picture img:first-child,
    .picture img:nth-child(3){
        display: none;
    }
    .picture img:nth-child(2){
        width: 100%;
    }
    #content .content-section{
        padding: 64px 15px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .art img{
       margin: 25px auto 0;
       width: 100%;
       object-fit: cover;
    }
}


