*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}



#main {

}

#header{
    height: 46px;
    background-color: rgb(173, 216, 230);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


#nav li{
    display: inline-block;
}


#nav li a{
    color: black;
    text-transform: uppercase;

}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav> li:hover> a{
    color: black;
    background-color: #ccc;
}


#slider{
    margin-top: 46px;
    width: 100%;
    background-repeat: no-repeat;
}

.picture img{
    height: 665px;
    object-fit: cover;
}

#content{
}


#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}



#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .about-content{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

#content .drawing img{
    margin-left: 50%;
    transform: translateX(-50%);
}

#footer{
    padding: 64px 16px;
    text-align: center;
    height: 197px;
    background-color: rgb(173, 216, 230);
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}